# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebooks
*.ipynb_checkpoints

# Mac
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
ehthumbs.db

# VS Code
.vscode/

# dotenv
.env

# Logs
*.log

# Cache
.cache/
*.egg-info/
